<button class="btn btn-primary" {{action "showModal" 'account-transaction-modal' false 'body'}}>Transaction modal</button>

{{#bs-modal id="account-transaction-modal" dismissible=true title='<h2><i class="fa fa-fw fa-credit-card"></i> Transaction</h2>'}}
  <form {{action "processTransaction" on="submit"}}>
    <div class="modal-body">
      {{braintree-form}}
    </div>
    <div class="modal-footer">
      <div class="form-group">
        <button type="submit" class="btn btn-success btn-lg btn-block">Complete</button>
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </form>
{{/bs-modal}}