/*
  Account Apps Styles
*/

@expand-height-edit: 500px;
@expand-height-confirm: 160px;

.account-view.ember-view {
  .item-list-wrapper {

    .apps.list-group {
      border-top: none;

      .app-item-view.list-group-item {

        .transition(~"all ease-in-out 0.4s");

        &:first-of-type {
          border-radius: 5px 0;
        }

        &:nth-child(even) {
          background-color: fade(lighten(@brand-green-5, 35%), 80%);
        }

        &:nth-child(odd) {
          background-color: fade(white, 80%);
        }

        &.expand {
          min-height: @expand-height-edit;
        }

        &.expand-sm {
          min-height: @expand-height-confirm;
        }

        .app-item-edit, .app-item-confirm {
          position: absolute;
          background-blend-mode: screen;
          overflow: auto;

          .trbl();
          
          h3 {
            background-color: fade(white, 20%);
            padding: 4px;
            margin: 30px -10px 20px -10px;
            text-shadow: 1px 1px 1px fade(@brand-default, 80%);  
          }

          h1, h2, h3, h4, p {
            color: white;

            small {
              color: white;
            }
          }
        }

        .app-item-edit {
          padding: 10px;

          background: @darkpat,
            linear-gradient(
              @brand-green-1,
              transparent
            ),
            linear-gradient(
              90deg,
              @brand-green-2,
              transparent
            ),
            linear-gradient(
              -90deg,
              @brand-green-3,
              transparent
            );

          &.show {
            max-height: @expand-height-edit;
          }

          .close-edit {
            color: white;
            position: absolute;
            top: 8px;
            right: 2px;

            &:hover {
              color: @brand-primary;
            }
          }

          label {
            color: white;
            font-weight: 100;
          }

          .text-muted, .help-block {
            color: darken(white, 10%);
          }

          a {
            color: lighten(@brand-primary, 50%);

            &:hover {
              color: lighten(@brand-primary, 60%);
            }
          }

          .pricing .pricing-table {
            .plan-header {
              background:
                linear-gradient(
                  @brand-primary,
                  transparent
                ),
                linear-gradient(
                  90deg,
                  darken(@brand-primary, 10%),
                  transparent
                ),
                linear-gradient(
                  -90deg,
                  lighten(@brand-primary, 15%),
                  transparent
                );
              background-blend-mode: screen;
            }
          }
        }
        .app-item-confirm {
          padding: 10px;
          color: white;
          text-align: center;

          background: @darkpat,
            linear-gradient(
              darken(@brand-danger, 10%),
              transparent
            ),
            linear-gradient(
              90deg,
              darken(@brand-danger, 5%),
              transparent
            ),
            linear-gradient(
              -90deg,
              @brand-warning,
              transparent
            );

          &.show {
            max-height: @expand-height-confirm;
          }

          .pad-controls {
            margin-top: 10px;
            padding: 10px;
          }
        }
      }
    }
  }
}
