/*
  Hero Unit Styles
*/

@mesh-url: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAIklEQVQIW2NkwAIYkcR8gOwtID5MECRgDMRnQRJ4VaKYDADAYAQGjsU6FwAAAABJRU5ErkJggg==) repeat;

.hero {
  width: 100%;

  .hero-content {
    .skew(0, 2deg);
  }

  &.hero-frontpage {
    height: 50%;
    min-height: 500px;
    position: relative;
    margin-top: -52px;

    .skew(0, -2deg);
    .backface-visibility(hidden);

    .initial-bg, .next-bg {
      position: absolute;
      .trbl();
    }

    .initial-bg {
      .animation(backgroundindex 8s infinite);
      background:
        linear-gradient(
          @brand-green-1,
          transparent
        ),
        linear-gradient(
          90deg,
          @brand-green-3,
          transparent
        ),
        linear-gradient(
          -90deg,
          @brand-green-5,
          transparent
        );
    }

    .next-bg {
      opacity: 0;
      .animation(backgroundindex 8s 4s infinite);
      background:
        linear-gradient(
          @brand-green-1,
          transparent
        ),
        linear-gradient(
          90deg,
          @brand-green-3,
          transparent
        ),
        linear-gradient(
          -90deg,
          @brand-green-5,
          transparent
        );
    }

    background: @mesh-url;

    .box-shadow(0 0 7px fade(@brand-default, 80%) inset);
  }

  &.hero-account {
    @extra-padding: 15px;
    position: relative;
    margin-top: -52px;
    padding: unit(52 + @extra-padding, px) @extra-padding @extra-padding @extra-padding;

    h1 {
      margin: 0;
      color: white;
      text-shadow: 0 1px 1px fade(black, 80%);
    }

    .skew(0, -2deg);
    .backface-visibility(hidden);
    background:
      @mesh-url,
      linear-gradient(
        @brand-green-1,
        transparent
      ),
      linear-gradient(
        90deg,
        @brand-green-3,
        transparent
      ),
      linear-gradient(
        -90deg,
        @brand-green-5,
        transparent
      );

    .box-shadow(0 0 7px fade(@brand-default, 80%) inset);
  }
}