/*
  Nav Tabs Styles
*/

.nav.nav-tabs.slanted {
  a {
    background-color: fade(@brand-green-3, 50%);
    color: white;
    
    &:hover {
      background-color: fade(@brand-green-4, 80%);
    }
    
    &.active {
      background-color: @brand-offwhite;
      color: @brand-default;
    }
  }
}
