<div class="slice slice-first">
  <div class="content">
    <p class="copyright-text">&copy; {{currentYear}} Plockity. All Rights Reserved.</p>
    <ul class="pull-right footer-links">
      <li>
        {{#link-to 'terms'}}
          Terms &amp; Conditions
        {{/link-to}}
      </li>
      <li>
        {{#link-to 'docs'}}
          Docs
        {{/link-to}}
      </li>
      <li>
        {{#link-to 'support'}}
          Support
        {{/link-to}}
      </li>
    </ul>
  </div>
</div>
<div class="slice slice-last">
  <div class="content">
  </div>
</div>