<div class="slice slice-first">
  <div class="content">
    <p class="copyright-text">&copy; {{currentYear}} Plockity. All Rights Reserved.</p>
  </div>
</div>
<div class="slice slice-last">
  <div class="content">
    <div class="row">
      <div class="col-md-4"><h1>Content</h1></div>
      <div class="col-md-4"><h1></h1></div>
      <div class="col-md-4"><h1></h1></div>
    </div>
  </div>
</div>